@import "vars"
@import "fonts"
@import "libs"



/*спецификация*/
body
	box-sizing: border-box
	overflow-x: hidden
	color: $white
	font-family: $default-font
	font-weight: 400
	line-height: 1.6
	font-size: 16px
	padding: 0
	margin: 0

ul,li
	list-style: none
	margin: 0
	padding: 0

a
	text-decoration: none
	color: $white
	&:hover
		text-decoration: none
		color: $accent

.img-responsive
	max-width: 100%
	height: auto
	display: block

h4,h6
	color: #333333
	font-family: $accent-font
	font-size: 30px
	font-weight: bold
	text-transform: uppercase
h5
	color: #333333
	font-family: $manuscript
	font-size: 24px
	font-weight: 400
h6
	font-size: 14px
	font-weight: 400
p
	color: #999999
	font-family: $default-font
	font-size: 15px
	font-weight: 400
	line-height: 24px
hr
	height: 3px
	background-color: #f38181
	width: 60px





.header
	background-repeat: no-repeat
	background-size: cover
	.navigation
		padding-top: 20px
		&__logo
			h2
				font-family: $accent-font
				font-size: 30px
				font-weight: 700
		&__menu
			ul
				margin: auto
				justify-content: space-around
				display: flex
				flex-direction: row
				margin-top: 20px
				a
					font-family: $accent-font
					font-size: 14px
					text-transform: uppercase
					transition: all .3s ease
					&.active
						color: $accent
						padding-bottom: 5px
						border-bottom: 2px solid $accent
		&__functions
			ul
				align-self: center
				margin: auto
				justify-content: flex-end
				display: flex
				margin-top: 20px
				li:not(:last-child)
					margin-right: 20px


	.offer
		text-align: center
		margin-top: 15%
		h2
			font-family: $manuscript
			font-size: 72px
		h1
			font-family: $accent-font
			font-size: 9.375em
			font-weight: bold
			line-height: 140px
			text-transform: uppercase
		hr
			height: 3px
			background-color: $white
			width: 70px
			margin-top: 73px
		&__button
			margin-top: 50px
			a
				border: 3px solid $white
				padding: 6px 35px
				transition: all .3s ease
				&:hover
					color: #E18882
					border-color: #E18882
	

	.content
		margin-top: 16%
		padding-bottom: 1%
		&__item
			border-top: 3px solid $white
			p
				padding-top: 20px
				color: $white
				font-family: $accent-font
				text-transform: uppercase
				font-size: 18px
				span
					font-size: 24px
					font-weight: 600
					margin-right: 5%


.about-us
	text-align: center
	padding-top: 5%
	padding-bottom: 5%
	&__story
		h5
			margin-bottom: 20px
		h4
			margin-bottom: 35px
		hr
			margin-bottom: 35px
	&__photos
		margin-top: 4%
		img
			margin: 0 auto

.numbers
	background-color: $main
	text-align: center
	overflow-x: hidden
	.col-md-2
		border-right: 1px solid #b5eae0
		&:first-child
			border-left: 1px solid #b5eae0
	&__wrapper
		padding-top: 25%
		padding-bottom: 25%
		h3
			font-family: $accent-font
			font-size: 72px
			font-weight: 700
			text-transform: uppercase
		span
			font-family: $accent-font
			font-size: 14px
			text-transform: uppercase

.services
	padding-top: 5%
	padding-bottom: 4%
	&__heading
		margin-bottom: 4%
		text-align: center
		h5
			margin-bottom: 20px
		h4
			margin-bottom: 35px
		hr
			margin-bottom: 35px
	&__content
		.col-lg-1
			text-align: right
		.col-lg-3
			h6
				font-weight: bold
		hr
			width: 100%
			background-color: #e5e5e5
			height: .3px
			margin-top: 4%
			margin-bottom: 4%

.design
	text-align: center
	padding-top: 5%
	&__heading
		h5
			margin-bottom: 20px
		h4
			margin-bottom: 35px
		hr
			margin-bottom: 35px
	&__photo
		&-wrapper
			img
				display: inline-block
			.mobile	
				position: absolute
				bottom: -100px
				right: 170px

.service
	text-align: center
	padding-top: 5%
	img
		margin: 0 auto
	&__heading
		h5
			margin-bottom: 20px
		h4
			margin-bottom: 35px
		hr
			margin-bottom: 35px
	&__content
		margin-top: 4%
		padding-bottom: 6%
		&-accordion
			article
				h2
					display: flex
					align-items: center
					text-align-last: left
					border-bottom: 1px solid #e5e5e5
					i
						color: $main
					span
						color: #333333
						font-family: $accent-font
						font-size: 14px;
						text-transform: uppercase
						margin-left: 4%
				p
					text-align: left
					font-style: italic
					margin: 0
				.beefup__body
					overflow-x: hidden
					overflow-y: scroll
					height: 160px
					padding-bottom: 0
					padding-top: 0



.quotes
	background-color: #f8f8f8
	.row
		padding-top: 5%
		padding-bottom: 5%
	&__content
		display: flex
		align-items: center
		justify-content: center
		flex-wrap: wrap
		.col-lg-2
			display: flex
			justify-content: center
		&-logo
			display: flex
			justify-content: center
			align-items: center
			border: 3px solid $main
			width: 150px
			height: 150px
			i
				color: $main
				font-size: 55.12px
		p
			color: #999999
			font-family: $default-font
			font-style: italic
			font-size: 24px
			line-height: 36px
			margin-bottom: 0
		span
			color: #333333
			font-family: $manuscript
			font-size: 24px




.team
	text-align: center
	padding-top: 5%
	img
		margin: 0 auto
	&__heading
		h5
			margin-bottom: 20px
		h4
			margin-bottom: 35px
		hr
			margin-bottom: 35px
	&__content
		margin-top: 4%
		padding-bottom: 6%
		h6
			padding-top: 5%
			font-size: 14px
			font-weight: 400
			text-transform: uppercase
		span
			color: $gray
			font-size: 15px
			font-weight: 400
			line-height: 24px
		.img-wrapper
			position: relative
			&:hover
				.overlay
					opacity: 1
			img
				width: 100%
			.overlay
				display: flex
				justify-content: center
				align-items: center
				position: absolute
				top: 0
				bottom: 0
				left: 0
				right: 0
				height: 100%
				width: 100%
				opacity: 0
				transition: .3s ease
				background-image: linear-gradient(to top, #fce38a, #ffca7d, #ffb078, #fe987a, #f38181)
				ul
					display: flex
					li
						display: flex
						width: 56px
						height: 56px
						background-color: $accent
						justify-content: center
						align-items: center
						transition: background-color.25s ease
						&:hover
							background-color: #f38181
							i
								transition: color .30s ease
								color: $white
						a
							i
								color: #f38181
								font-size: 30px
								transition: color .25s ease
								&:hover
									color: $accent


.brands
	background-color: #f8f8f8
	overflow-x: hidden
	img
		padding-top: 2%
		padding-bottom: 2%


.some-work
	text-align: center
	padding-top: 5%
	&__heading
		h5
			margin-bottom: 20px
		h4
			margin-bottom: 35px
		hr
			margin-bottom: 35px
	.gallery
		display: grid
		grid-template-columns: 1fr 1fr 1fr 1fr
  	grid-template-rows: 1fr 1fr
		grid-template-areas: "gallery-1 gallery-2 gallery-3 gallery-4" "gallery-5 gallery-6 gallery-3 gallery-7"
		.gallery-1
			grid-area: gallery-1
		.gallery-2
			grid-area: gallery-2
		.gallery-3
			grid-area: gallery-3
		.gallery-4
			grid-area: gallery-4
		.gallery-5
			grid-area: gallery-5
		.gallery-6
			grid-area: gallery-6
		.gallery-7
			grid-area: gallery-7
	.img-wrapper
		position: relative
		&:hover
			.overlay
				opacity: 1
			img
				width: 100%
		.overlay
			display: flex
			justify-content: center
			align-items: center
			position: absolute
			top: 0
			bottom: 0
			left: 0
			right: 0
			height: 100%
			width: 100%
			opacity: 0
			transition: .3s ease
			background-image: linear-gradient(to top, #fce38a, #ffca7d, #ffb078, #fe987a, #f38181)
			ul
				li
					i
						font-size: 30px
						padding-bottom: 6%
					h6
						color: $white
						font-size: 14px
						text-transform: uppercase
					span
						font-size: 15px
						font-weight: 200
						line-height: 24px
			


.quotes-2
	background-color: #f8f8f8
	.row
		padding-top: 5%
		padding-bottom: 5%
	&__content
		display: flex
		align-items: center
		justify-content: center
		flex-wrap: wrap
		.col-lg-2
			display: flex
			justify-content: center
		&-logo
			display: flex
			justify-content: center
			align-items: center
			width: 150px
			height: 150px
		p
			color: #999999
			font-family: $default-font
			font-style: italic
			font-size: 24px
			line-height: 36px
			margin-bottom: 0
		span
			color: #333333
			font-family: $manuscript
			font-size: 24px



.clients
	background-repeat: no-repeat
	background-size: cover
	padding-top: 5%
	img
		margin: 0 auto
	&__heading
		text-align: center
		h5
			margin-bottom: 20px
		h4
			margin-bottom: 35px
		hr
			margin-bottom: 35px
	&__content
		margin-top: 4%
		padding-bottom: 5%
	&__content-2
		padding-bottom: 10%
	&__content, &__content-2
		.col-lg-2
			display: flex
			justify-content: flex-end
			align-items: flex-start
		.col-lg-4
			h6
				color: #333333
				font-size: 14px
				text-transform: uppercase
			span
				color: #333333
				font-size: 15px
				line-height: 24px
				font-style: italic
			hr
				width: 100%
				height: .5px


.blog
	padding-top: 5%
	&__heading
		text-align: center
		h5
			margin-bottom: 20px
		h4
			margin-bottom: 35px
		hr
			margin-bottom: 35px
	&__content
		padding-bottom: 6%
		&-wrapper
			position: relative
			margin-bottom: 6%
			img
			.data
				display: flex
				justify-content: center
				align-items: center
				position: absolute
				background-color: $main
				width: 60px
				height: 70px
				bottom: 10%
				left: -5%
				p
					color: $white
					font-size: 15px
					font-family: $accent-font
					font-size: 30px
					font-weight: 700
					text-transform: uppercase
					margin: 0
					span
						font-size: 15px
						color: $white
		h6
		p
		hr
			background-color: #e5e5e5
			height: 1px
			width: 100%
		i
			color: $main
		span
			color: $gray
			font-style: italic












































.slicknav_menu
	margin: 0 auto
	padding: 0
	display: none
	position: absolute
	background: transparent
	z-index: 1000
	top: 20px
	right: 0
	width: 100%
	.slicknav_btn
		background: transparent
	.slicknav_icon
		font-size: 30px
	ul
		background-image: linear-gradient(to top, #fce38a, #ffca7d, #ffb078, #fe987a, #f38181)
		text-align: center
		width: 100%
		margin: 0
		a
			font-size: 25px
			font-weight: 400
			font-family: $accent-font
			text-transform: uppercase
			transition: all .3s ease
			padding-bottom: 3%
			&:hover
				color: $accent	





.owl-carousel
	position: relative !important
	.owl-nav
		position: absolute
		top: 33%
		width: 100% !important
		.owl-next, .owl-prev
			position: absolute
			background-color: red
			span
				color: #cccccc
				font-size: 50px
				transition: color .4s ease
				&:hover
					color: $main
		.owl-next
			right: 2%
			z-index: 999
		.owl-prev
			left: 2%


			
					




@import "media" // Always at the end
